Что нужно записывать в .gitignore файл GitHub для python


# В этом каталоге хранятся скомпилированные версии файлов .py в байт-коде.
# Они не нужны для контроля версий и могут быть воссозданы при необходимости
__pycache__/

# Этот каталог содержит настройки Visual Studio Code для проекта.
# Он может содержать личные настройки разработчика, 
# которые не должны попадать под контроль версий
.vscode/

# Файлы .pyc - это скомпилированные файлы Python. 
# Они также не нужны для контроля версий
*.pyc

#  Если вы используете переменные окружения, 
# то файл .env, в котором вы храните свои секретные ключи
# и другую конфиденциальную информацию, также следует добавить в .gitignore.
.env

# Если ваше приложение создает логи, 
# то файлы логов также могут быть добавлены в .gitignore,
# чтобы не загромождать репозиторий.
*.log

# название виртуальной среды
/.TGbotVENV